body {
    font-family: "Helvetica", Sans-Serif;
    background-image: url("../images/pixil-layer-Background.png");
}

a {
    color: white;
}



/* Footer */

.footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 70px;
    background-color: #ed2467b7;
  }
  
  .footer-text-left {
    font-size:25px;
    padding-left:40px;
    float:left;
    word-spacing:20px;
  }
  
  a.menu:hover {
    background-color:#fda2d4;
  }
  
  .footer-content-right {
    padding-right:40px;
    margin-top:20px;
    float:right;
  }